:root {
    --bg-contact: #4C5264;
    --bg-header: #363C42;
    --bg-about: #FFFFFF;
    --bg-services: #FFFFFF;
    --bg-services-cards: rgba(38, 42, 50, 0.1);
    --bg-products: #FFFFFF;
    --bg-location: #363C42;
    --bg-footer: #2B3035;

    --ct-about: #30343F;
    --ct-heading-services: #30343F;
    --ct-cards-services: #262A32;
    --ct-heading-products: #30343F;
    --ct-links-products: #FA4616;
    --ct-title-products: #666666;
    --ct-price-products: #FA4616;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

.page {
    width: 310px;
    margin: auto;
}

#contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact {
    height: 5rem;
    background: var(--bg-contact);

    display: flex;
    align-items: center;
}

#location {
    fill: #FFFFFF;
}

.contact a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #FFFFFF;
    padding: 2px 3px;
    background: var(--bg-header);
    border-radius: 15px;

    margin-right: 2px;
}

.contact p {
    font-size: 1.1rem;
    color: #FFFFFF;

    max-width: 130px;

    padding-left: 2px;
}

header {
    height: 8rem;
    width: 100%;

    background: var(--bg-header);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 80px;
    height: 80px;
}

.hamburguer {
    margin-right: 10px;

    display: none;
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.menu ul a {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: #FFFFFF;

    transition: .3s ease;
}

.menu a:hover {
    color: #dcdada;
}

.hidden {
    display: none;
}

main .about-wrapper {
    background: var(--bg-about);
}

main .about .subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--ct-about);

    padding: 5.5rem 0 2rem 1.5rem;
}

main .about .title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--ct-about);

    padding-left: 1.5rem;
}

main .about img {
    max-width: 31rem;

    text-align: center;
    padding: 1.5rem 0 1.5rem;
}

main .services .titles {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--ct-heading-services);

    padding: 0 0 2.5rem 1.5rem;
}

main .cards-services {
    width: 25rem;
    height: 8rem;
    background: var(--bg-services-cards);

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto 2.5rem;
}

main .cards-services h1 {
    width: 19.5rem;

    font-size: 1.4rem;
    font-weight: bold;
    color: var(--ct-cards-services);

    text-align: center;
}

main .products .title-products {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding-bottom: 3rem;
}

main .products .title-products h1 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #000000;

    padding: 0 0 0 1.5rem;
}

main .products .title-products a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--ct-links-products);
}

main .products .cards-products {
    display: flex;

    padding-bottom: 3rem;
}

main .products .info-cards {
    padding-left: 1.4rem;
}

main .products .info-cards h1 {
    width: 17rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--ct-title-products);

    padding-bottom: 1.5rem;
}

main .products .info-cards span {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--ct-price-products);
}






































@media(max-width: 520px) {
    .hamburguer {
        display: block;
        z-index: 999;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 45vw;

        height: 100vh;
        background: var(--bg-header);

        padding: 140px 20px;
        text-align: center;

        flex-direction: column;
        gap: 25px;

        transition: .6s ease;
    }

    .active {
        right: 0;
    }
}

@media(min-width: 520px) {
    .page {
        width: 520px;
    }
}
