:root {
    --bg-header: #F5F5F5;
    --bg-subheader: #F5F5F5;
    --bg-about: #1D3248;
    --bg-services: #1D3248;
    --bg-buttons: #FFA630;
    --bg-buttons-products: #243e5a;

    --color-text: #FFFFFF;

    --ff-text: 'Exo', sans-serif;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    font-size: 1.6rem;
    font-family: var(--ff-text);
}

.page {
    width: 310px;
    margin: auto;
}

#sub-header {
    height: 5rem;
    background: var(--bg-subheader);
    display: flex;
    align-items: center;
}

.sub-header {
    display: flex;
    justify-content: flex-end;
}

.sub-header a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;

    color: var(--color-text);
    background: var(--bg-about);

    padding: .5rem;
    margin-right: 1.5rem;
    border-radius: .3rem;
}

header {
    height: 7.5rem;
    background: var(--bg-header);
    display: flex;

    padding: 0 15px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburguer {
    margin-top: 15px;
}