:root {
    --bg-text: #D8D8DA;
    --bg-header: #222429;
    --bg-body: #2A2D33;
    --bg-wahts: #3CB371;

    --ff-text: 'Poppins', sans-serif;
    --ff-logo: 'Paytone One', sans-serif;

    font-size: 62.5%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 1.6rem;
    font-family: var(--ff-text);
    color: var(--bg-text);
    background: var(--bg-body);
}

header {
    height: 7rem;
    background: var(--bg-header);

    display: flex;
}

.page {
    max-width: 36rem;
    margin: auto;
}

#logo {
    font-family: var(--ff-logo);
    font-size: 2rem;

    border-right: 1px solid #D8D8DA;
    padding-right: 10px;
}

#color-left-logo {
    color: #2d4e70;
}

#color-right-logo {
    color: #DE3C4B;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header a {
    display: none;
    text-decoration: none;
    color: var(--bg-text);
    font-size: 1.4rem;
}

header p {
    font-size: 1.1rem;
}

main p {
    font-size: 1.4rem;
    text-align: center;
    padding-top: 3rem;
}

.cards-wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    overflow: auto;
    padding-top: 3rem;
}

.cards {
    width: 14rem;
    text-align: center;
    background: #FFFFFF;
    border-radius: 3px;
}

.cards h1 {
    font-size: 1.2rem;
    color: #000000;
    padding: 5px 5px;
}

.cards img {
    width: 14rem;
    height: 12rem;
}

.contact {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact p {
    font-size: 1.3rem;
}

.contact .btn-whats {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 11px 5px;
    background: var(--bg-wahts);
    border-radius: 4px;
}

.contact a {
    font-size: 1.4rem;
    text-decoration: none;
    color: #FFFFFF;
}

footer {
    position: absolute;
    bottom: 0;
}

footer svg {
    width: 100%;
    height: 100%;
}


@media(min-width: 768px) {
    .page {
        max-width: 748px;
    }

    header p {
        font-size: 1.4rem;
    }

    header a {
        display: block;
    }

    .info-wrapper {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    #logo {
        font-size: 2.2rem;
    }

    .contact p {
        font-size: 1.6rem;
    }

}
